appdirs==1.4.4
asgiref==3.3.1
Django==2.0
dwebsocket==0.5.12
JPype1==1.2.0
Js2Py==0.70
numpy==1.16.0
pako==0.3.0
PyExecJS==1.5.1
pyjsparser==2.7.1
pytz==2020.5
six==1.15.0
sqlparse==0.4.1
typing-extensions==3.7.4.3
tzlocal==2.1
